<p>
  <strong>title</strong>
  <%= @teacher.title%>
</p>
 
  <strong>description</strong>
  <%= @teacher.description%>
</p>
 
<p>
  <strong>image</strong>
  <%= @teacher.image %>
</p>

<%= link_to 'Back', teachers_path %>